@using RazorHtmlEmail.Models;
@model Person

<p></p>

<p>
    Dear @(Model.FirstName),<br />
    <br />
    Laborum ullam laboriosam et et. Voluptatem dolorum maiores nostrum occaecati qui quas. Aut deserunt sed deleniti neque itaque ullam. Voluptatem voluptatem consequatur quidem laboriosam.<br />
</p>
